<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    <title>MiniGest</title>
</head>
<body>
    <nav class="navBar">MiniGest
        <ul class="navItens">
            <li><a href="{{url_for('home')}}">Minhas Tarefas</a></li>
            <li><a href="{{url_for('adicionar')}}">Adicionar Tarefa</a></li>
        </ul>
    </nav>
    {%block content%}
    {%endblock%}
</body>
</html>